body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

.grid {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 15% auto 50px;
    grid-template-areas:
        "header"
        "container"
        "footer";
}

.header {
    grid-area: header;
    height: 90%;
    border-bottom: 1px solid forestgreen;
    display: grid;
    grid-template-columns: 15% 10% auto 25% 15%;
    grid-template-areas:
        ". logo buttons_Head search ."
}

.logo {
    grid-area: logo;
    height: 100%;
}

.logo img {
    height: 100%;
    width: 55%;
    margin-left: 15%;
}

.buttons_Head {
    grid-area: buttons_Head;
    height: 50%;
    margin-top: 5%;
    display: flex;
    align-items: center;
}

.buttons_Head button {
    border: none;
    background: transparent;

}

.buttons_Head button a {
    color: forestgreen;
    font-size: 130%;
    text-decoration: none;
}

.Search {
    grid-area: search;
    height: 50%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    border: 1px solid forestgreen;
    border-radius: 10px;

}

.Search_box {
    height: 100%;
    width: 80%;
    border: none;
    background: transparent;
}

.Search_box label:focus .Search_box {
    width: 80%;
    visibility: visible;
    transition: all .05s;

}

.Search label {
    background-color: forestgreen;
    color: white;
    text-align: center;
    font-size: large;
    width: 20%;
    height: 80%;
    border-radius: 10px;
    padding-top: 3%;

}

.container {
    grid-area: container;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 15% auto 15%;
    grid-template-areas:
        "left_sidebar data right_sidebar"
}

.left_sidebar {
    grid-area: left_sidebar;

}

.right_sidebar {
    grid-area: right_sidebar;
}

.data {
    grid-area: data;
    background-color: rgb(246, 249, 252);
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 5% auto;
    grid-template-areas:
        " . "
        "content"
}

.line {
    border-bottom: 1px forestgreen dashed;
    display: flex;
    align-items: center;
    font-style: italic;
    font-size: larger;
    justify-content: center;
    font-weight: 600;
}


.content {
    grid-area: content;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
}

.product {
    height: 52%;
    width: 32%;
    margin: .2%;
}

.product:hover .image img {
    height: 105%;
    width: 105%;
    margin: -2%;
}

.image {
    height: 60%;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.image img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    transition: all .5s;
    position: absolute;

}

.name {
    height: 10%;
    width: 100%;
    background-color: ghostwhite;
    font-weight: bolder;
    font-size: 130%;
    overflow: hidden;
}

.discription {
    height: 27%;
    width: 100%;
    border-top: 1px dashed forestgreen;
    font-size: 90%;
    overflow: hidden;
}

.footer {
    grid-area: footer;
    border-top: 1px solid forestgreen;
    display: grid;
    height: 90%;
    grid-template-columns: 50% auto;
    grid-template-areas:
        "site_btns Social"

}

.site_btns {
    grid-area: site_btns;
    display: flex;
    height: 100%;
    margin: -3% 0 0 0;
}

.Social {
    grid-area: Social;
    display: flex;
    height: 100%;
    margin: -3% 0 0 0;
}

#buttons_footer {
    height: 50%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    border: none;
    background-color: aliceblue;
}

#buttons_footer button {
    border: none;
    background: transparent;
    border: 1px dashed forestgreen;

}

#buttons_footer button a {
    color: forestgreen;
    font-size: 200%;
    text-decoration: none;
}

.product_btn {
    font-size: larger;
    background-color: forestgreen;
    color: white;
    text-decoration: none;
    padding: 5px 30px;
    border-radius: 5px;
}