RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^blog blog.html [NC]
RewriteRule ^post post.html [NC]
RewriteRule ^contact contact_us.html [NC]
RewriteRule ^about about.html [NC]
RewriteRule ^privacy privacy.html [NC]
RewriteRule ^index index.html [NC,L]



RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^subscribe subscribe.php [NC]
RewriteRule ^login login.php [NC]
RewriteRule ^signup signup.php [NC]
RewriteRule ^download download.php [NC]
# RewriteRule ^blog blog.php [NC]
# RewriteRule ^post post.php [NC]
# RewriteRule ^contact contact_us.php [NC]
# RewriteRule ^about about.php [NC]
# RewriteRule ^privacy privacy.html [NC]

RewriteRule ^compressjpg compressjpg.php [NC]
RewriteRule ^pngtojpg pngtojpg.php [NC]
RewriteRule ^jpgtopdf jpgtopdf.php [NC]
RewriteRule ^jpgtopng jpgtopng.php [NC]
RewriteRule ^resizejpg resizejpg.php [NC,L]